<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
                CREAR CLIENTE</button>
        </div>
        <div *ngIf="!isLoggedIn" class="alert alert-info">
                No hay registros en la BBDD!
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.lenght !== 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDOS</th>
                    <th>EMAIL</th>
                    <th>FECHA</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let cliente of clientes">
                    <th>{{cliente.id}}</th>
                    <th>{{cliente.nombre}}</th>
                    <th>{{cliente.apellido}}</th>
                    <th>{{cliente.email}}</th>
                    <th>{{cliente.createAt}}</th>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]"
                            class="btn btn-primary btn-sm">editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(cliente)'
                            class="btn btn-danger btn-sm">eliminar</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>